.page-header {
	height: 400px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.button {

	border-radius: 5px;
	padding: 10px 25px 12px;
	text-decoration: none;
	font-size: 16px;
	line-height: 1em;
	margin: 10px;
	border: solid 2px $color-1;
	display: inline-block;
	transition: all .25s;

	&:hover {
		cursor: pointer;
	}

	&.button-primary {
		background-color: $color-1;
		color: white;
		border: solid 2px $color-1;
	
		&:hover {
			background-color: white;
			color: black;
		}
	}

	&.button-secondary {
		background-color: white;
		color: $color-2;
		border-color: white;

		&:hover {
			background-color: $black;
			color: white;
		}
	}

	&.button-big {
		font-size: 20px;
		padding: 15px 30px;
	}
}

.blurb {
	.blurb-icon {
		border-radius: 100%;
		background-color: $color-1;
		width: 150px;
		height: 150px;
		display: flex;
		align-items: center;
		justify-content: center;

		i {
			font-size: 90px;
			color: white;
		}
		
		margin-bottom: 20px;
	}
	.title {
		margin: 10px 0;
		font-size: 22px;
		font-weight: 500;
	}
	p {
		i {
			font-size: 16px;
		}
	}
}

.cta {
	h2, h3 {
		font-weight: bold;
	}
	p {
		font-size: 20px;
	}
}

.with-bg {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 5vw 0;

	&.bg-dark {
		background-color: $color-2;
		color: white;
	}

	&.bg-gray {
		background-color: darken( white, 5% );
		border-top: solid 1px #999;
		border-bottom: solid 1px #999;
	}

	.bg-image-overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: linear-gradient(160deg, rgba( $color-1, 0.8 ) 0%, rgba( $color-2, 0.8 ) 100%);
		z-index: 0;

		&-light {
			background-color: rgba( 255, 255, 255, 0.5 );
		}
	}
}

.overlay {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba( $black, 0.7 );
	z-index: 100;
	visibility: hidden;

	.overlay-container {
		display: block;
		background-color: white;
		width: 90%;
		height: 90vh;
		z-index: 110;

		header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			background-color: #000;
			height: 60px;
			padding: 0 20px;

			.overlay-title {
				margin: 0;
			}

			a {
				color: white;
				font-size: 30px;
			}
		}

		.content-wrapper {
			height: calc( 100% - 120px );

			iframe {
				height: 101%;
			}	
		}

		footer {
			background-color: #000;
			height: 60px;
		}
		
	}
}