.table-wrap {
	max-width: 1200px;
	margin: 40px auto;
	background-color: #e8e8e8;
	padding: 40px;

	.table-filters {
		display: flex;
		align-items: center;
		margin-bottom: 20px;

		.single-filter {
			margin-right: 20px;

			&:last-child {
				flex-grow: 1;
				text-align: right;
			}

			span {
				font-weight: bold;
				margin-right: 10px;
			}

			.filter-by-name {
				padding: 10px;
				width: 50%;
			}	
		}
	}

	.table-list {
		width: 100%;
		border-collapse: collapse;

		thead {
			th {
				text-align: left;;
				border-bottom: solid 1px #ccc;
				font-size: 12px;
				text-transform: uppercase;
				padding: 10px;

				&.orderby {
					cursor: pointer;
					color: $color-1;
				}
			}
		}

		tbody {
			tr {
				background-color: #fff;
				border-bottom: solid 1px #ccc;

				&:hover {
					background-color: $color-2;
					box-shadow: 0 10px 15px 5px #ccc;
					transform: scale(1,1);

					td {
						color: #fff;
					}
				}

				td {
					padding: 20px 10px;
					font-size: 14px;
				}	
			}
		}
	}
}
